.sidebar {
    -fx-background-color: #378a4c;
}

.main-screen {
    -fx-background-color: #8dbd9a;
}

.menu-buttons {
    -fx-background-color: #8dbd9a;
}

.active-button {
    -fx-background-color: #ddf1e0;
}